.comments-area {
	> .comments-title {
		font-size: 1.5rem;
		margin-bottom: $gutter;
	}

	.comment-body {
		padding: $gutter 0;
		border-bottom: 1px solid $border-color;
	}

	.comment-meta {
		font-size: .8rem;
	}

	.comment-author{
		.avatar {
			margin-right: $gutter;
			float: left;
		}
		.fn {
			line-height: 32px;
			float: left;
		}
	}
	.comment-metadata {
		clear: both;
		padding: $gutter 0;
	}
	.comment-reply-link{
		@extend %btn;
	}
}

.comment-form {
	textarea,
	input {
		border : 1px solid $border-color;
	 }
	 label {
	 	width: 100%;
	 }
}