
.page-main {
	margin-top: 50px;
	padding-bottom: $gutter*4;
}

.entry-content {
	ol {
		list-style-type: decimal;
	}
	ul {
		list-style-type: disc;
	}
	ol,
	ul {
		padding-left: 20px;
		li {
			line-height: 1.5rem;
			padding-left: 10px;
		}
	}
}


