/*
 = TABLE OF CONTENTS

 *	1.		Global
 *	2.		Layout
 *	3. 		Header
 *	4.		Dropdown Nav
 *	5.		Loop
 *	6.		Comments
 *	7.		Sidebar
 *	8.		Footer
 *
*/



/* 1. GLOBAL
==================================================== */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

a {
	transition: all .5s linear;
	-moz-transition: all .5s linear; /* Firefox 4 */
	-webkit-transition: all .5s linear; /* Safari and Chrome */
	-o-transition: all .5s linear; /* Opera */
	text-decoration: none;
}

ol, ul {
	list-style: none;
}
ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

a,
a:visited {
    outline: 0 none;
    text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	text-transform: uppercase;
}

.tac { text-align: center;}
.tal { text-align: left;}
.tar { text-align: right;}
.show-over { overflow: visible !important; }

.uppercase {
	text-transform: uppercase;
}

.clear {
	clear:both;
}

/* == Social Links == */

.social > li {
	padding-left: 0;
	padding-right: 0;
}

.social > li a {
	color: #fff;
	background-color: #428bca;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 24px;
	padding: 2px;
}

.social > li a:hover {
	background-color: #3276b1;
}


/* 2. LAYOUT
==================================================== */
.container-fluid.no-gutter .row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid.no-gutter .row [class*='col-']{
	/* overflow: hidden; */
	padding-right: 0;
  	padding-left: 0;
}

.container-fluid.no-gutter {
	padding: 0px;
}
.container-fluid.no-gutter .row [class*='col-']:not(:first-child),
.container-fluid.no-gutter .row [class*='col-']:not(:last-child),
.container-fluid.no-gutter .row .col-xs-16,
.container-fluid.no-gutter .row .col-sm-16,
.container-fluid.no-gutter .row .col-md-16,
.container-fluid.no-gutter .row .col-lg-16
{
  padding-right: 0;
  padding-left: 0;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;


}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px 0 0 0;

  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.show-nav #site-canvas {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);

  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.show-nav #nav-wrapper {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);

  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  padding: 15px;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;
  color: #fff;
  overflow-y: scroll;
}

/* 3. HEADER
==================================================== */
#nav-wrapper {
	background: #534b48;
	z-index: 100;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;

	  -webkit-transform: translateX(0);
	  transform: translateX(0);

	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);

	  -webkit-transition: 300ms ease all;
	  transition: 300ms ease all;

	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
}

#header-nav ul li {
	display: inline-block;
	list-style: none;
	position: relative;
	}

#header-nav ul li a {
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
	text-transform: uppercase;
	display: block;
}

#header-nav ul.sub-menu {
	position: absolute;
	left: 10px;
	display: none;
}

#header-nav li:hover > ul.sub-menu {
	display: block;
}

#header-nav ul.sub-menu li a {
	text-transform: none;
	padding: 5px 10px;
	background: #000;
	line-height: 20px;
}

#header-nav ul.sub-menu li a:hover {
	background: #534b48;
}

/* 4. MAIN NAV
==================================================== */
#take-action {
	background: #2a8b58;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	padding: 0 30px;
	float: right;
	border-right: 1px dotted #40bd7b;
}

#hamburg {
	background: #2a8b58;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	padding: 0 20px;
	float: right;
}

/*
#menu-main-nav > li{
	display: inline-block;
	position: relative;
}

#menu-main-nav > li.menu-item-has-children > ul {
	position: absolute;
	z-index: 9999;
}
*/

/* 4.1 SLIDE SHOW
==================================================== */
#home-slide .item img{
	display: block;
	width: 100%;
	height: auto;
}



/* 5. LOOP
==================================================== */
.entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

/* 6. COMMENTS
==================================================== */
.comments {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	margin: 10px 0;
}

.comments ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

/* 7. SIDEBAR
==================================================== */

#sidebar ul {
	padding-left: 0;
	list-style-position: inside;
}

/* 8. FOOTER
==================================================== */
#footer {
	padding: 20px 0;
	margin-top: 20px;
}
