.homepage-events {
	.event-card{
		width: 23%;
		padding: 1%;
		float: left;
	}
}

.event-card{
	position: relative;

	.img-wrap {
		position: relative;

		.event-image {max-width: 100%}
	}

	.copy-wrap {
		position: relative;
		text-align: center;
		padding: .25rem;
		overflow: hidden;

		> .event-title { font-size: 1.5rem; margin: 0;}
		> .event-date { color: $text-color; font-size: .8rem; margin: 0;}
		> .event-excerpt { color: $text-color;}
	}
}