html {
	overflow-x: hidden;
	@include font-smoothing;
	font-size: 16px;

	@include respond-to($screen-sm) { font-size: 15px; }
	@include respond-to($screen-xxs) { font-size: 12px; }

}

@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25), only screen and (min-resolution:200dpi), only screen and (min-resolution:1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }

body {
	overflow-x: hidden;
	@include copy-font();
}

.site-wrap {
	@include opacity(0);
}

a {
	color: $link-color;

	@include transition(all $transition);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
		color: $link-color;
	}
}

:active,
:focus  {
	outline: none;
}

::-moz-selection {
	background: $black;
	color: $white;
}

::selection {
	background: $black;
	color: $white;
}

::-moz-focus-inner,
a::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

:focus {outline:none !important;}
::-moz-focus-inner {border:0;}

.bg-action {
  background-color: $action-color;
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }
}