body {
  padding-top: 50px;
}

a {
    color: $red-orange;

    @include transition($transition200);

    &:hover,
	&:focus,
	&:active {
	  text-decoration: none;
	}
}

:active,
:focus  {
  outline: none;
}

::-moz-selection { 
	background: $blue;
	color: $white;
}

::selection {
	background: $blue;
	color: $white;
}

h6,
.h6 {
	font-size: $h6;
}

h5,
.h5 {
	font-size: $h5;
}

h4,
.h4 {
	font-size: $h4;
}

h3,
.h3 {
	font-size: $h3;
}

h2,
.h2 {
	font-size: $h2;
}

h1,
.h1 {
	font-size: $h1;
}