/*
Set Border radious for any element
@include border-radius('0px');
--------------------- */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*
opacity filter with x-browser fallback
@include opacity('.9');
--------------------- */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*
Truncate text
--------------------- */
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
Background size with broswer prefix for cover image
@include cover-background('path/to/img.jpg');
--------------------- */
@mixin cover-background($img-uri) {
    background: url($img-uri) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
Background size with broswer prefix for cover
@include background-cover('cover');
--------------------- */
@mixin background-cover($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

// Options
//
// $screen-xs: 480px
// $screen-sm: 768px
// $screen-md: 992px
// $screen-lg: 1200px
//

@mixin respond-to($breakpoint) {
  @media all and (max-width: ($breakpoint - 1)) {
    @content
  }
}

@mixin respond-between($min, $max) {
  @media all and (min-width:$min) and (max-width:$max) {
    @content
  }
}