// all images
img {
  @include img-responsive();
  border-radius: $border-radius-base;
  // width: 100%;
}

// backface
@mixin backface-hidden() {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}