$transition300:   all 300ms ease-in-out;
$transition200:   all 200ms ease-in-out;

$menu-height : 80px;
$mobile-menu-height : 50px;

$red-orange : #de7946;
$blue : #78b7b4;
$drkblue : #181523;
$green : #90af59;
$brown : #785d4b;
$beige : #f0e5d1;
$tan : #d3ab54;
$dark-purple : #181523;
$light-purple : #231f31;
$gold : #d3ab54;