$transition300:   all 300ms ease-in-out;
$transition200:   all 200ms ease-in-out;

$menu-height : 80px;
$mobile-menu-height : 50px;

/* COLORS */

$white: #FFF;
$black : #000;
$blue: #2E9FFF;
$gray: #797979;

/* FONT FAMILIES */
$proxima: 'proxima-nova', sans-serif;

/* FONT SIZES */
$h1: 52px;
$h2: 30px; 
$h3: 24px;
$h4: 18px;
$h5: 16px;
$body: 15px;

/* FONT WEIGHTS */
$fw-light: 300;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;

/* FIXED WIDTHS */
$fixed-w-xl: 1370px;
$fixed-w-lg: 1170px;
$fixed-w-md: 970px;
$fixed-w-sm: 750px;

/* GUTTER */
$gutter: 15px;