$transition300:   all 300ms ease-in-out;
$transition200:   all 200ms ease-in-out;

$menu-height : 80px;
$mobile-menu-height : 50px;

/* COLORS */

$white: #FFF;
$black : #000;
$blue: #2E9FFF;
$gray: #797979;

