@font-face {
  font-family: "tmbricons";
  src: url('../fonts/tmbricons.eot');
  src: url('../fonts/tmbricons.eot?#iefix') format('eot'),
    url('../fonts/tmbricons.woff') format('woff'),
    url('../fonts/tmbricons.ttf') format('truetype'),
    url('../fonts/tmbricons.svg#tmbricons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tmbricons {
  display: inline-block;
  font-family: "tmbricons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmbricons:before {
  display: inline-block;
  font-family: "tmbricons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tmbricons-2x { font-size: 2em; }
.tmbricons-3x { font-size: 3em; }
.tmbricons-4x { font-size: 4em; }
.tmbricons-5x { font-size: 5em; }
.tmbricons-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.tmbricons-1000rides:before { content: "\EA01" }
.tmbricons-100k:before { content: "\EA02" }
.tmbricons-100rides:before { content: "\EA03" }
.tmbricons-10k:before { content: "\EA04" }
.tmbricons-10rides:before { content: "\EA05" }
.tmbricons-150k:before { content: "\EA06" }
.tmbricons-1mil:before { content: "\EA07" }
.tmbricons-200k:before { content: "\EA08" }
.tmbricons-250k:before { content: "\EA09" }
.tmbricons-25k:before { content: "\EA0A" }
.tmbricons-500k:before { content: "\EA0B" }
.tmbricons-500rides:before { content: "\EA0C" }
.tmbricons-50days:before { content: "\EA0D" }
.tmbricons-50k:before { content: "\EA0E" }
.tmbricons-75days:before { content: "\EA0F" }
.tmbricons-alpinist:before { content: "\EA10" }
.tmbricons-ausday:before { content: "\EA11" }
.tmbricons-bday:before { content: "\EA12" }
.tmbricons-beathpierre:before { content: "\EA13" }
.tmbricons-bell2bell:before { content: "\EA14" }
.tmbricons-blkcomplete:before { content: "\EA15" }
.tmbricons-blkopen:before { content: "\EA16" }
.tmbricons-bookblk:before { content: "\EA17" }
.tmbricons-bookwhis:before { content: "\EA18" }
.tmbricons-centclub:before { content: "\EA19" }
.tmbricons-chinesenewyear:before { content: "\EA1A" }
.tmbricons-day1blk:before { content: "\EA1B" }
.tmbricons-day1whis:before { content: "\EA1C" }
.tmbricons-diditall:before { content: "\EA1D" }
.tmbricons-dominating:before { content: "\EA1E" }
.tmbricons-easter:before { content: "\EA1F" }
.tmbricons-everest:before { content: "\EA20" }
.tmbricons-firstchair:before { content: "\EA21" }
.tmbricons-freshtracks:before { content: "\EA22" }
.tmbricons-hang10:before { content: "\EA23" }
.tmbricons-high5:before { content: "\EA24" }
.tmbricons-lastchair:before { content: "\EA25" }
.tmbricons-magician:before { content: "\EA26" }
.tmbricons-mariana:before { content: "\EA27" }
.tmbricons-may4th:before { content: "\EA28" }
.tmbricons-mtkos:before { content: "\EA29" }
.tmbricons-natskiday:before { content: "\EA2A" }
.tmbricons-newyears:before { content: "\EA2B" }
.tmbricons-ninelives:before { content: "\EA2C" }
.tmbricons-olympian:before { content: "\EA2D" }
.tmbricons-quarter:before { content: "\EA2E" }
.tmbricons-snowboardday:before { content: "\EA2F" }
.tmbricons-solstice:before { content: "\EA30" }
.tmbricons-stpatricks:before { content: "\EA31" }
.tmbricons-thanksgiving:before { content: "\EA32" }
.tmbricons-topoftheworld:before { content: "\EA33" }
.tmbricons-valentines:before { content: "\EA34" }
.tmbricons-weekendwar:before { content: "\EA35" }
.tmbricons-whiscomplete:before { content: "\EA36" }
.tmbricons-whisopen:before { content: "\EA37" }
.tmbricons-xmas:before { content: "\EA38" }
.tmbricons-arrow-down:before { content: "\EA39" }
.tmbricons-arrow-left:before { content: "\EA3A" }
.tmbricons-arrow-right:before { content: "\EA3B" }
.tmbricons-arrow-up:before { content: "\EA3C" }
