/* GLOBAL BUTTONS
input[type=submit] {
  @extend .btn;
}
======================== */
.btn {
	background-color: $action-color;
	display: inline-block;
	padding: 7px 20px;
	font-weight: bold;
	color: $white;
	@include border-radius(0);
}