.flex-img-gallery{
	ul > *:nth-child(4n+5) {
		clear: left;
	}
	@include respond-to($screen-xs) {
		ul > *:nth-child(2n+3) {
			clear: left;
		}
	}

	.image-wrap {
		width: 23%;
		margin: 1%;
		height: auto;
		float: left;
		position: relative;

		@include respond-to($screen-xs) {
			width: 48%;
		}


		.img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}