$section-height: 400px;
$menu-height:50px;
$mobile-menu-height : 50px;

$transition: .2s ease-in;
$transition200: all .2s ease-in;
$transition300: all .3s ease-in;

/* COLORS */
$white: #FFF;
$black : #000;
$action-color : rgba(239,76,35,0.8);
$heading-color : rgba(239,76,35,0.8);
$link-color : #4A96AD;
$border-color : #ccc;

/* FONT SIZES */
$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 1.5rem;
$p: 1rem;

/* FONT FAMILIES */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@mixin heading-font($weight: 400) {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: $weight;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@mixin copy-font($weight: 400) {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: $weight;
}

/* FONT WEIGHTS */
$fw-light: 300;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;

/* FIXED WIDTHS */
$fixed-w-xl: 1370px;
$fixed-w-lg: 1170px;
$fixed-w-md: 970px;
$fixed-w-sm: 750px;

/* GUTTER */
$gutter: 15px;

/* SCREEN SIZE */
$screen-tiny: 480px;
$screen-xxs: 600px;
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1350px;
$screen-xl: 1400px;