
// * VARIABLES *
// - Colors
// - Font Sizes
// - Font Families
// - Font Weights
// - Fixed Widths
// - Gutter
// - Screen Size
// - Global Dimensions
// - Interaction


/* COLORS */
$white: #FFF;
$black: #000;
$yellow: #F7B733;
$green: #4ABDAC;
$gray: #DFDCE3;

$action-color: $yellow;
$heading-color: $green;
$link-color: $yellow;
$border-color: $gray;

/* FONT SIZES */
$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 1.5rem;
$p: 1rem;
$hero: 7rem;
$small: .875rem;

/* FONT FAMILIES */
//@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|family=Open+Sans:400,300,700);
$heading-font: 'Montserrat', sans-serif;
$copy-font: 'Open Sans', sans-serif;

@mixin heading-font($weight: 400) {
	font-family: $heading-font;
	font-weight: $weight;
}

@mixin copy-font($weight: 400) {
	font-family: $copy-font;
	font-weight: $weight;
}

/* FONT WEIGHTS */
$fw-light: 300;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;

/* FIXED WIDTHS */
$fixed-w-xl: 1370px;
$fixed-w-lg: 1170px;
$fixed-w-md: 970px;
$fixed-w-sm: 750px;

/* GUTTER */
$gutter: 15px;
$col: 100%/12;

/* SCREEN SIZE */
$screen-tiny: 480px;
$screen-xxs: 600px;
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1350px;
$screen-xl: 1400px;

/* GLOBAL DIMENSIONS */
$menu-height: 50px;
$mobile-menu-height: 50px;

/* INTERACTION */
$transition: .2s ease-in;