.footer {
	background-color: $heading-color;
	color: $white;
	a {
		color: $white
	}
	.copyright {
		text-align: center;
		font-size: .8rem;
		color: $border-color;
	}
	.list-title{
		@extend .widgettitle;
		color: $white;
	}
}


.footer .menu {
	> li a {
		font-size: .8rem;
		display: block;
		padding: .4rem 0;
	}
}

body.no-touch {
	.footer {
		a:hover { color: $border-color}
	}
}