#preloader {
  @include fixed($t:0,$r:0,$b:0,$l:0,$z:99999);
    @include wh100;
    background-color: $white;
  .spinner {
    @include absolute($t:50%, $l:50%);
      width: 48px;
      height: 48px;
      background: url(../../public/images/page-loader.gif) no-repeat center center;
      margin: -24px 0px 0px -24px;
  }
}